body {
  /* font-family: 'Open Sans','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN',Meiryo,メイリオ,Helvetica,Arial,sans-serif; */
  font-family: 'Lato', 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN',Meiryo,メイリオ,Helvetica,Arial,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  font-size: 14px;
  margin: 0;
  color: #263238;
  background: #eceff1;
  background: #f5f8fa;
  background: #f7fafc;
}
/*
header
*/
.header-border {
  height: 4px;
  display: flex;
}
.header-border-item:nth-child(1) {
  width: 20%;
  background: #e57373;
}
.header-border-item:nth-child(2) {
  width: 20%;
  background: #64b5f6;
}
.header-border-item:nth-child(3) {
  width: 20%;
  background: #81c784;
}
.header-border-item:nth-child(4) {
  width: 20%;
  background: #ffd54f;
}
.header-border-item:nth-child(5) {
  width: 20%;
  background: #ffd54f;
}
.header-tit {
  text-align: center;
  margin: 50px 0 30px;
  color: #263238;
}
/*
switch-view
*/
.switch-view {
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
.switch-view-item {
  display: block;
  margin: 0 10px;
}
/*
category-list
*/
.category-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.category-item {
  margin: 0 10px;
}
/*
color-list
*/
.color-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.color-item {
  margin: 0 10px;
}
/*
web-list
*/
.web-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  overflow-x: scroll;
}
.web-item {
  width: 200px;
  min-width: 200px;
  margin: 20px;
}
.web-item > a {
  text-decoration: none;
}
.web-item-name {
  text-align: center;
  color: #000;
  font-weight: normal;
  margin: 0 0 12px;
  font-size: 11px;
}
.web-item-image {
  width: 100%;
  box-shadow: 0 0 4px rgba(207, 216, 230, .5);
  transition: box-shadow .2s;
}
.web-item > a:hover .web-item-image {
  box-shadow: 0 0 16px 1px rgba(207, 216, 230, .9);
  transition: box-shadow .2s;
}
.web-item-image.mode-none {
  display: none;
}
