<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
  <title>Gallery</title>
</head>
<body>
  <div id="app">
    <div class="overlay"></div>
    <div class="sort-container">
      <h3 class="sort-tit">Category</h3>
      <ul class="category-list">
        <li v-for="(category, index) in category_list" class="category-item">
          <a href="" @click.prevent="filterByCategory(index)">{{ category }}</a>
        </li>
      </ul>
      <h3 class="sort-tit">Color</h3>
      <ul class="color-list">
        <li v-for="(color, index) in color_list" class="color-item">
          <a href="" @click.prevent="filterByColor(index)">{{ color }}</a>
        </li>
      </ul>
    </div>
    <div class="app-content">
      <button class="open-menu" @click="openMenu">
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
        <span class="menu-bar"></span>
      </button>
      <div class="container">
        <header class="header">
          <div class="header-border">
            <div class="header-border-item"></div>
            <div class="header-border-item"></div>
            <div class="header-border-item"></div>
            <div class="header-border-item"></div>
            <div class="header-border-item"></div>
          </div>
          <h1 class="header-tit">Web Interface Gallery</h1>
        </header>
        <ul class="switch-view">
          <li class="switch-view-item">
            <input type="radio" name="switch_view" value="pc" v-model="mode" >PC
          </li>
          <li class="switch-view-item">
            <input type="radio" name="switch_view" value="sp" v-model="mode" >SP
          </li>
        </ul>
        <div class="scroll-bar">
          <div class="bar"></div>
          <button class="knob" @mousedown="mouesDown(e)"></button>
        </div>
        <div class="web-list-container" @scroll="scrollContainer">
          <ul class="web-list">
            <li class="web-item" v-for="(item, index) in web_list">
              <a href="" @click.prevent="expandImage(index)" class="web-item-expansion"><ion-icon name="search"></ion-icon></a>
              <a v-bind:href="item.url" target="_blank">
                <h4 class="web-item-name">{{ item.name }}</h4>
                <img :src="'images/' + item.image_pc" :alt="item.name" class="web-item-image" v-show="mode == 'pc'">
                <img :src="'images/' + item.image_sp" :alt="item.name" class="web-item-image" v-show="mode == 'sp'">
              </a>
            </li>
          </ul>
        </div>
        <footer class="footer">
          © 9ooky
        </footer>
      </div>
    </div>
    <div class="expand-container" v-show="expand">
      <div class="bg-layer" @click="closeExpand"></div>
    </div>
  </div>
  <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/script.js"></script>
</body>
</html>
